<?xml version="1.0" encoding="UTF-8"?>
<configuration status="warn" monitorInterval="5">
    <Appenders>
        <Console name="myConsole" target="SYSTEM_OUT">
            <PatternLayout disableAnsi="false"
                           pattern="%highlight{[%5level] [%d{HH:mm:ss}] [%c] [%M:%L]   %m %n}{ERROR=red bold, WARN=yellow bold, INFO=green bold, DEBUG=blue bold, TRACE=white bold}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Root level="warn">
            <AppenderRef ref="myConsole"/>
        </Root>
        <Logger name="com.fzw" level="debug" includeLocation="true" additivity="false">
            <AppenderRef ref="myConsole"/>
        </Logger>
    </Loggers>
</configuration>